@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --font-color: #c2cbd6;
  --bg-dark: #17191c;
  --accent-color: #20252c;
  --hover-bg: #16191d;
  --highlight-color: #2d88ff;
  --roundness: 0.5em;
  --text-selection: #fbf1c7;
}

::selection {
  background: var(--text-selection); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--text-selection); /* Gecko Browsers */
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  color: var(--font-color);
  background-color: var(--bg-dark);
  font-family: "Montserrat", sans-serif;
}

header div {
  width: 95%;
  margin: 0 auto;
  margin-top: 2em;
  background-color: var(--accent-color);
  border-radius: var(--roundness);
  padding: 0.5em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div a {
  color: var(--font-color);
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.75em;
  border-radius: var(--roundness);
}

header div a:hover,
.active {
  background-color: var(--hover-bg);
  text-decoration: underline;
}

header div ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-inline-start: 0;
}

header div ul li {
  margin: 0 0.5em;
}

.md-enable {
  display: none;
}

@media screen and (max-width: 1366px) {
  #home_url {
    display: none;
  }

  header div {
    justify-content: center;
  }

  .md-enable {
    display: block;
  }

  body {
    font-size: 10px;
  }
}
