@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main h1,
h2,
h3 {
  margin: 0;
}

main h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 6em;
  letter-spacing: 0.12em;
  color: var(--highlight-color);
}

main h2 {
  font-size: 4rem;
}

main h3 {
  font-size: 2rem;
}

.illustration {
  width: 900px;
  height: 700px;
}

@media screen and (max-width: 1280px) {
  .illustration img {
    display: none;
  }

  .illustration {
    width: 900px;
    height: 500px;
  }

  main {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  main {
    margin-top: 8vh;
  }
}
