---

title: 'Blog | Siddhant Kumar'
layout: layouts/blog.njk

---


{% set postList = collections.posts %}

<h2>
  {{ postList | length }} {% if postList | length > 1 %}posts{% else %}post{% endif %}
</h2>

<ul>
  {% for item in  postList | reverse %}
    <li>
      <a href="{{ item.data.page.url }}">{{ item.data.title }}</a>
    </li>
  {%endfor%}
</ul>