
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or metadata.title }}</title>
    <meta
      name="description"
      content="{{ description or metadata.description }}"
    />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="Siddhant Kumar" />
    <meta property="og:url" content="https://www.siddhant.codes{{ page.url }}" />
    <meta property="og:image" content="{{title | getog}}" />
    {% if canonical %}
      <link rel="canonical" href="{{metadata.url}}{{ canonical }}" />
    {% endif %}
    {% block styles %}

      <link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
      <link rel="stylesheet" href="{{ '/css/post.css' | url }}" />
      <link rel="stylesheet" href="{{ '/css/prism-monokai.css' | url }}" />

    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/manifest.json">
  </head>
  <body>
    <header>
      <div >
        <a {% if page.url == '/' %} class="active"{% endif %} id="home_url" href="/">home</a>

        <ul class="nav">
          <li  class='md-enable'><a {% if page.url == '/' %} class="active"{% endif %} href="/">home</a></li>
          <li><a {% if page.url == '/blog/' %} class="active"{% endif %} href="/blog">blog</a></li>
          <li><a {% if page.url == '/work/' %} class="active"{% endif %} href="/work">work</a></li>
          <li><a {% if page.url == '/about/' %} class="active"{% endif %} href="/about">about</a></li>
        </ul>
      </div>
    </header>



    <main {% if cssclass %} class="{{ cssclass }}" {% endif %}>
      <h1> {{title}}</h1>
      <p class="lead">
        <span>{{page.date | readableDate }}</span> ⌚ <span>{{content | readingTime}} read</span>
      </p>
      <hr />
      <br />

      {{ content | safe }}
      <br />
      <br />
    <h2>Comments</h2>
    </main>



    <!-- comments plugin -->

    <script src="https://utteranc.es/client.js"
        repo="siddhantk232/portfolio"
        issue-term="title"
        theme="dark-blue"
        crossorigin="anonymous"
        async>
    </script>

    <br />

    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-174893388-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

  </body>


</html>
