@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

main {
  padding: 0.5em 1em;
  width: 60vw;
  margin: 0 auto;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.25em;
  margin-top: 2em;
}

p {
  font-size: 2em;
}

ul:not(.nav) {
  list-style-type: none;
  padding: 0;
}

ul:not(.nav) li {
  font-size: 1.8em;
  margin: 2rem 0;
  background-color: var(--accent-color);
  padding: 10px 20px;
  border-radius: calc(var(--roundness) / 3);
  border: 1px solid var(--text-selection);
}

ul:not(.nav) li a {
  color: var(--highlight-color);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  main {
    width: 95vw;
  }
}
